/* General styles for the application */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FFFFF0; /* Light cream background */
}

/* container for the home page */
.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* button styles.. */
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #45a049;
}

/* === Form Page Styles === */
/* background color for form page */
body.form-page {
    background-color: #F8F9FA; /* Light gray background for form page */
}

/* form container styling */
.form-container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}

/* Align label and inpus on the same row */
.form-container .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-container label {
    flex: 1;
    margin-right: 10px;
    font-weight: bold;
    color: #555;
    text-align: left;
}

.form-container input {
    flex: 2;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

/* submit button */
.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    margin-top: 20px;
}

.form-container button:hover {
    background-color: #45a049;
}
